[% start_year=2021 %]
[% MACRO example(file) BLOCK %]
[%- pl =  file _ ".pl" -%]
[%- out = file _ "-out.txt" -%]
[% INCLUDE $pl | xtidy %]

produces output

[% INCLUDE $out | xtidy %]

(This example is included as L<F<[% pl %]>|https://fastapi.metacpan.org/source/BKB/Gzip-Libdeflate-[% info.version %]/examples/[% pl %]> in the distribution.)
[% END %]
[% MACRO since(version) BLOCK -%]
This method was added in version [% version %] of the module.
[%- END %]
=encoding UTF-8

=head1 NAME

[% info.colon %] - Perl interface to libdeflate

=head1 SYNOPSIS

    use [% info.colon %];

=head1 VERSION

This documents version [% info.version %] of [% info.name %]
corresponding to L<git commit [% commit.commit %]|[% info.repo
%]/commit/[% commit.commit %]> released on [% commit.date %]. This
distribution also includes libdeflate version [% libdeflate_version
%]. 

=head1 DESCRIPTION

Interface to libdeflate. libdeflate offers the same forms of
compression as zlib, as used in gzip, libpng and similar
utilities. This distribution includes libdeflate within itself, so it
is not necessary to have that on your system.

=head1 METHODS

=head2 Creators

=head3 compressor

    my $co = Gzip::Libdeflate->compressor ();

Accepts an optional number argument of compression level (1-12).  The
default is 6.

=head3 decompressor

    my $de = Gzip::Libdeflate->decompressor ();

=head2 Compressors

=head3 deflate_compress

    my $dthing = $gl->gzip_compress ($thing);

=head3 gzip_compress

    my $gzthing = $gl->gzip_compress ($thing);

=head3 zlib_compress

    my $zthing = $gl->zlib_compress ($thing);

=head2 Decompressors

=head3 deflate_decompress

Not implemented in this release.

=head3 gzip_decompress

    my $thing = $gl->gzip_decompress ($gzthing);

=head3 zlib_compress

Not implemented in this release.

=head1 SEE ALSO

=head2 About libdeflate

L<https://github.com/ebiggers/libdeflate>

=head2 CPAN modules

=over

=item L<Alien::libdeflate>

=back

[% INCLUDE "author" %]

Libdeflate is copyright Eric Biggers and is used under the following
licence.

[% INCLUDE "biggers" %]

